# This is a CODEOWNERS file. 👥
# Lines are in the format of <pattern> <owner>
# Owners are specified as GitHub usernames or teams.

# Default code owner for the entire repository
* @SyedaAnshrahGillani @Mirza-Samad-Ahmed-Baig


# Specify owners for specific paths
/docs/ @your-github-username
/frontend/ @example
/backend/ @your-github-username
