accelerate
beautifulsoup4
bs4
came-pytorch
einops
ftfy
gradio
image-reward
ipdb
omegaconf
opencv-python
optimum
patch_conv
peft
protobuf
pytorch-fid
regex
sentencepiece
tensorboard
tensorboardX
timm
torchaudio==2.4.0
torchvision==0.19
transformers==4.45.2
triton==3.0.0
wandb
webdataset
yapf
spaces
matplotlib
termcolor
pyrallis
bitsandbytes
torch
diffusers
clip
mmcv
xformers